{{define "footer"}}
	<footer class="footer has-background-dark">
		<div class="container">
			<div class="columns is-centered">
				<div class="column">
					<div class="content has-text-centered">
						<h2 class="subtitle has-text-white">By <a href="https://github.com/orlmonteverde" class="has-text-primary" target="_blank">Orlando Monteverde</a></h2>
						<p class="paragraph has-text-white">Ver más en <a href="https://devsstore.net" class="has-text-primary" target="_blank">DevsStore</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="/static/js/fontawesome-all.min.js"></script>
	<script src="/static/js/app.js"></script>
</body>
</html>
{{end}}
